body {
  font-family: Arial, sans-serif;
  background-color: #d0d0d0; 
  color: #333;
  font-size: 1.1rem;
  line-height:  1;
}


.App {
  max-width: 800px;
  margin: auto;
  text-align: center;
  background-color: #e8e8e8;
  min-height: 100vh;  
  padding: 2rem;
}

.main-conten {
  max-width: 800px;
  margin: auto;
  padding:  3rem; 
  text-align: center;
  font-size:  1.5rem; 
}


h1, h2, h3 {
  color: #2c3e50;
}

.navLink {
  display: inline-block;
  padding:  0.5rem  1rem;
  margin:  0.5rem  0;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
  background-color: #f1f1f1;
}

.navLink:hover {
  background-color: #e1e1e1;
  color: #333;
}

.navLink.active {
  font-weight: bold;
  background-color: #e1e1e1;
  color: #333;
}

input[type="text"], input[type="email"], input[type="password"], select, textarea {
  width:  30%;
  padding:  0.5rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

button {
  padding: 0.5rem 1rem;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color  0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

button.edit, button.delete {
  margin-right: 1%; 
  margin-bottom: 5%;
}

.button-group {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

button.save, button.cancel{
  margin-right: 7%; 
}

button.cancel {
  padding: 1rem;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

form button {
  align-items: center; 
}

.error-message, .success-message {
  padding:  0.5rem;
  margin:  0.5rem  0;
  border-radius: 4px;
}

.fill-input, .error-message {
  color: red; 
}

.fill-input{
  margin-left: 35%;
}

.success-message {
  background-color: #27ae60;
  color: white;
}


